# PUBLIC URL (CLIENT)
NEXT_PUBLIC_API_URL=http://localhost:3000

# DATABASE URL
DATABASE_URL=postgresql://ronyortiz:@localhost:5432/prismatest?schema=public

# BETTER AUTH
BETTER_AUTH_SECRET=QLepzFBEF461I5zpUKEBCA7o07hfhPX6
BETTER_AUTH_URL=http://localhost:3000

# POLAR
POLAR_ACCESS_TOKEN=polar_oat_GLV8fods3S5pHWwSJE8QnTYmPu6jx9fkXJ99I3khOB4
POLAR_WEBHOOK_SECRET=polar_whs_Kz1eCoCXdaVKDI4pEDHX8NxS0BhHlQyhWEJgL3aYr0F

# IMAGE KIT
IMAGEKIT_PRIVATE_KEY=private_kjDfjMBv0ih2gNAsaT2n2EUc7wo=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/ronywebdev
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_iB9nAA7/6BJjZhJjpFjaeatgvJw=
IMAGEKIT_ID=ronywebdev